.ProgressCards {
  margin-bottom: 2em !important;

  hr {
    border-top-color: $color-gray-lightest;
    border-bottom: none;
  }

  .ProgressCard {
    .header {
      margin-bottom: 0;
      h4 {
        margin-top: 0;
        text-transform: capitalize;
      }
    }
  }
}
