.ProgressCards {
  margin-bottom: 2em !important;
  margin-left: 1em;
  .ProgressCard {
    .header {
      margin-bottom: 0;
      h4 {
        margin-top: 0;
        text-transform: capitalize;
      }
    }
  }

  li {
    float: left;
    width: 33.333%;
  }
}
