@import 'sass/uswds-customer-vars.scss';
@import 'node_modules/uswds/src/stylesheets/all.scss';
// HDMA customizations to USWDS
@import 'sass/header.scss';
@import 'sass/hero.scss';
@import 'sass/footer.scss';
@import 'sass/accordion.scss';
@import 'sass/fixes.scss';

@import 'Home.scss';
@import 'common/AppHeader.scss';
@import 'common/Header.scss';
@import 'common/Footer.scss';
@import 'common/LoadingIcon.scss';
@import 'reports/modified-lar/Modified-LAR.scss';
@import 'reports/modified-lar/Results.scss';
