.home {
  hr {
    border-color: $color-gray-light;
    border-top: none;
    margin: 0 auto 3rem;
    max-width: $site-max-width;
  }
  .card-container {
    align-items: stretch;
    display: flex;
    margin: 0 auto;
    max-width: $site-max-width;
    padding: 3rem;
  }
  .card {
    flex: 1;
    margin: 0 20px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    &.quarter {
      max-width: 24%;
    }
  }
  h4 {
    margin: 0;
  }
  p {
    color: $color-gray;
    margin-top: 0;
  }
  .usa-button-secondary {
    margin-top: 0;
  }
  .usa-label {
    background-color: $color-gold-light;
    color: $color-base;
    font-size: 0.8em;
    font-weight: bold;
    letter-spacing: 1.5px;
  }
}
